.search {
  margin-bottom: 2em;
}

.search-input {
  height: 3.5em;
  width: 24em;
}

.search-button {
  margin-left: 1em;
}

.search-button:hover {
  border: 3px solid #FF7A59;
  color: #FF7A59;
  background: #FFFFFF;
}
