.card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 22vh;
  width: 90vw;
  border: solid black 1px;
  margin: 0 1em 2em 1.5em;
  font-size: .8em;
}

.preview-image {
  height: 100%;
  object-fit: contain;
}

.title-container {
  color: black;
  margin: 0 2em;
}
