.details-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-details {
  display: block;
  height: 75%;
  width: 80%;
  border: solid black 1px;
}

.article-image {
  width: 100%;
  object-fit: contain;
}
